.head
{
    height: 170px;
    width: 190px;
    background-color: greenyellow;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-top:10px;
    margin-left: 600px;
    transition: width 1s ease;

}
.ob:hover .head{
    
    animation: movehead 1s infinite;
    
}
@keyframes movehead
{
    0%{
        transform: translateY(20px)
    }
    50%
    {
      transform: translateY(-2.3rem);
    }
    100%
    {
        
        transform: translateY(20px);
    }
}

body{
    background-color: black;
}
.eyes{
    display: flex;
    justify-content: space-evenly;
    width: 190px;
    margin-top: 5%;
    position: absolute;
    
}
.reye
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:black;
    /* position: absolute; */
    /* margin-top: 60%; */
    /* margin-left: 20px; */
    transition: width,height 1s ease;
    
}


.leye
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:black;
    /* position: absolute; */
    /* margin-top: 60%;
    margin-left: 150px; */
}
.body
{
    width: 190px;
    height: 200px;
    background-color: greenyellow;
    margin-left:600px ;
    margin-top: 10px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    position: relative;
    transition: transform,height,width,border-radius 1s ease;
}
.ob:hover .body{
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    transform: rotate(360deg);
    animation: movebody 1s infinite;
    
}
@keyframes movebody
{
    0%{
        transform: translateY(20px)
    }
    50%
    {
      transform: translateY(-2.3rem);
    }
    100%
    {
        
        transform: translateY(20px);
    }
}

.lleg
{
    position: absolute;
    width: 30px;
    height: 70px;
    background-color: greenyellow;
    border-radius: 150px 150px 150px 150px;
    margin-left: 640px;
    margin-top: -10px;
    transition: transform 1s ease;

}
.ob:hover .lleg{
    transform: rotate(90deg);
    transform-origin: top;
    animation: movelleg 2s infinite;
}
@keyframes movelleg{
    0%{
        transform: rotate(0deg);}
    25%{
        
        transform: rotate(-90deg);
    }
    500%{
        
    transform: rotate(0deg);
    }    
    75%
    {
        transform: rotate(90deg);

    }
    100%{
        transform: rotate(0deg);
    }
}
.rleg
{
    position: absolute;
    width: 30px;
    height: 70px;
    background-color: greenyellow;
    border-radius: 150px ;
    margin-left: 720px;
    margin-top: -10px;
    transition: transform 1s ease;

}
.ob:hover .rleg{
    transform: rotate(90deg);
    transform-origin: top;
    animation: moverleg 2s infinite;
}
@keyframes moverleg{
    0%{
        transform: rotate(0deg);}
    25%{
        
        transform: rotate(-90deg);
    }
    500%{
        
    transform: rotate(0deg);
    }    
    75%
    {
        transform: rotate(90deg);

    }
    100%{
        transform: rotate(0deg);
    }
}
.rhand{

    width: 30px;
    height: 100px;
    background-color: yellowgreen;
    margin-left: 560px;
    margin-top: -100px;
    border-radius: 50px;
    transition: transform 1s ease;

}
.ob:hover .rhand{
    transform-origin: top;
    
    animation: moverhand 2s infinite;
}
@keyframes moverhand
{
    0%{
        transform: rotate(0deg);}
    25%{
        
        transform: rotate(-90deg);
    }
    500%{
        
    transform: rotate(0deg);
    }    
    75%
    {
        transform: rotate(90deg);

    }
    100%{
        transform: rotate(0deg);
    }
}
.lhand{

    width: 30px;
    height: 100px;
    background-color: yellowgreen;
    margin-left: 800px;
    margin-top: -180px;
   border-radius: 150px ;
   transition: transform 1s ease;

}
.ob:hover .lhand{
    transform-origin: top;
    
    animation: movelhand 2s infinite;
}
@keyframes movelhand
{ 0%{
    transform: rotate(0deg);}
25%{
    
    transform: rotate(-90deg);
}
500%{
    
transform: rotate(0deg);
}    
75%
{
    transform: rotate(90deg);

}
100%{
    transform: rotate(0deg);
}  
}
h1{
    margin-right: 5px;
    
    padding-right: 110px;
    
    
}
.ob{
    border: 2px solid red;
    height: 470px;
    transition: transform 1s ease;
}
.ob:hover{
    background:url(./nightclubs-disco-colorful-wallpaper-preview.jpg)
    
}